#form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  display: none;
}

.form {
  display: flex;
  width: 30%;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: #f5f8f8;
  box-shadow: 0px 8px 6px rgba(22, 21, 21, 0.1);
}

.form-item {
  margin: 12px 0;
}

.form-item label {
  font-size: 16px;
  font-weight: 600;
}

.form-item input,
textarea {
  width: 390px;
  font-size: 14px;
  padding: 0.5rem;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.form-footer label {
  margin-right: 1rem;
  font-size: 13px;
  font-weight: bold;
}

.form-footer button {
  display: inline-block;
  justify-content: flex-end;
  font-size: 16px;
  padding: 0.3rem;
  width: 30%;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-left: 1rem;
}

.form-item label {
  display: flex;
  padding: 0.5rem 0;
}

.button-form {
  font-size: 42px;
  position: fixed;
  right: 60px;
  bottom: 60px;
  border: none;
  color: #0b2447;
  border-radius: 0.8rem;
  align-items: center;
}
