* {
  font-family: 'Inter', sans-serif;
}

.title-app {
  text-align: center;
  margin: 3rem 0;
  font-weight: bold;
  color: #19376d;
}

.title {
  border-top: 1px solid #19376d;
  border-bottom: 1px solid #19376d;
  border-width: 2px;
  text-align: center;
  margin: 3rem 0;
  font-weight: bold;
  color: #19376d;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 90%;
  margin: auto;
}

.note-archive {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 90%;
  margin: 2rem auto;
}

.note-empty {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10rem;
  margin: auto;
}
