.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.search-input {
  width: 45%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 0.3rem;
  border-radius: 0.8rem;
  border: 2px solid #19376d;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.search-cancel__button {
  position: absolute;
  top: 50;
  right: 28%;
  transform: translateY(-50% -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
