nav {
  display: flex;
  align-items: center;
  gap: 12rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

li {
  background-color: #f4dfcd;
  border-radius: 0.8rem;
  padding: 0.5rem;
}

.link {
  text-decoration: none;
}

.link:active {
  color: white;
}
